@using DoanLTW.Models
@{
    ViewBag.Title = "CheckOut";

}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active">CheckOut</li>
            </ol>
        </div>
        @{
            if (Session["Cart"] != null)
            {
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Item</td>
                                <td>Name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Sub Total</td>

                            </tr>
                        </thead>
                        @foreach (var cart in (List<Cart>)Session["cart"])
                        {
                            double p = Convert.ToDouble(cart.Product.Price);
                            int q = Convert.ToInt32(cart.Quantity);
                            double subtotal = p * q;

                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="~/images/shop/@cart.Product.ProImage" alt="" style="width:96px;height:133px; "></a>
                                </td>
                                <td class="cart_description"><h4>@cart.Product.ProName</h4></td>
                                <td style=" font-size:16px; font-weight:550">@cart.Quantity</td>
                                <td style=" font-size:16px; font-weight:550">@Html.FormatValue(cart.Product.Price, "{0:C}")</td>
                                <td style=" font-size:16px; font-weight:550; width:250px!important">
                                    $@Html.FormatValue(subtotal, "{0:C}")
                                </td>
                            </tr>
                        }
                        <tr>
                            @{
                                List
                                <Cart> temp = (List<Cart>)Session["cart"];
                                var total = temp.Sum(x => x.Quantity * x.Product.Price);
                            <tr>
                                <td colspan="4">
                                    &nbsp;
                                </td>
                                <td><p style="color:#0486b3; margin-bottom: -25px; font-size:20px; font-weight:700">Total: @Html.FormatValue(total, "{0:C}")</p></td>
                            </tr>
                            }
                        </table>
                    </div>

                }
                else
                {
                    <div style="display: flex; justify-content: center; align-items: center;" class="companyinfo">
                        <h2 style="">No item in your cart!</h2>
                    </div>  
                }
        }
    </div>
</section> <!--/#cart_items-->
<div class="container" style="padding: 60px 0 72px 0">
    <h3>Customer's Information</h3>
    @using (Html.BeginForm("ProcessOrder", "ShoppingCart", FormMethod.Post, new { id = "customer-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Customer's Name</label>
                <div class="col-md-10">
                    <input type="text" name="cusName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Customer's Phone</label>
                <div class="col-md-10">
                    <input type="text" name="cusPhone" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Customer's Email</label>
                <div class="col-md-10">
                    <input type="text" name="cusEmail" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Customer's Address</label>
                <div class="col-md-10">
                    <input type="text" name="cusAddress" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Process Order" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
    <script type="text/javascript">
        $("#customer-form").validate({
            rules: {
                cusName: {
                    required: true
                },
                cusPhone: {
                    required: true
                },
                cusEmail: {
                    required: true
                },
                cusAddress: {
                    required: true
                }
            }
        });
    </script>
